In [1]:
import pandas as pd

In [41]:
df = pd.read_csv('formatted_data.csv')
df

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
...,...,...,...,...,...,...,...,...,...
4135,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4136,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4137,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
4138,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4139,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1

In [43]:
#there are 70 null rows
nulls = df[df['photo'].isnull()]
nulls

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
180,R_1DOu3fdZstLn1qp,1,1,NaN,NaN,NaN,NaN,2,0
181,R_1DOu3fdZstLn1qp,1,2,NaN,NaN,NaN,NaN,2,1
182,R_1DOu3fdZstLn1qp,2,1,NaN,NaN,NaN,NaN,2,0
183,R_1DOu3fdZstLn1qp,2,2,NaN,NaN,NaN,NaN,2,1
184,R_1DOu3fdZstLn1qp,3,1,NaN,NaN,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...
1895,R_2YnXDBfIiXItTxz,3,2,NaN,NaN,NaN,NaN,1,0
1896,R_2YnXDBfIiXItTxz,4,1,NaN,NaN,NaN,NaN,2,0
1897,R_2YnXDBfIiXItTxz,4,2,NaN,NaN,NaN,NaN,2,1
1898,R_2YnXDBfIiXItTxz,5,1,NaN,NaN,NaN,NaN,1,1
1899,R_2YnXDBfIiXItTxz,5,2,NaN,NaN,NaN,NaN,1,0

In [44]:
#drop nulls in dataset
df = df.dropna()
df

,id,choiceNum,candNum,college,exp,job,photo,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
1,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
2,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
3,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,https://berkeley.qualtrics.com/WRQualtricsCont...,1,1
...,...,...,...,...,...,...,...,...,...
4135,R_Zmz2US2dIggx0gp,3,2,Stanford University,5.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,1,0
4136,R_Zmz2US2dIggx0gp,4,1,Virginia Tech,5.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4137,R_Zmz2US2dIggx0gp,4,2,Boston University,6.0,Sales Representative,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1
4138,R_Zmz2US2dIggx0gp,5,1,"University of California, Berkeley",7.0,Consultant,https://berkeley.qualtrics.com/WRQualtricsCont...,2,0
4139,R_Zmz2US2dIggx0gp,5,2,Virginia Tech,5.0,Data Analyst,https://berkeley.qualtrics.com/WRQualtricsCont...,2,1

In [45]:
##photo tags
photo_mappings = pd.read_csv('photo_mappings.csv')
photo_mappings.columns = photo_mappings.columns.str.lower()
photo_mappings = photo_mappings.drop(columns='name')
photo_mappings

,gender,ethnicity,filtered,photo
0,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
1,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
2,Female,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
3,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
4,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
5,Female,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
6,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
7,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
8,Male,POC,False,https://berkeley.qualtrics.com/WRQualtricsCont...
9,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
10,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
11,Male,White,False,https://berkeley.qualtrics.com/WRQualtricsCont...
12,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
13,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
14,Female,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
15,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
16,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
17,Female,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
18,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
19,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
20,Male,POC,True,https://berkeley.qualtrics.com/WRQualtricsCont...
21,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
22,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...
23,Male,White,True,https://berkeley.qualtrics.com/WRQualtricsCont...

In [24]:
#photo_mappings['endings'] = photo_mappings['photo'].str.replace('https://berkeley.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_', '', regex=False)
##df['endings'] = df['photo'].str.replace('https://berkeley.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_', '', regex=False)

#df['endings'].unique()

array(['eVguHXYRonZ49Uy', 'cUzzqAZCm6h8mCa', '40e71B6xMbE64jc',
       'etdZqCkC2u8G54G', '8kY19UVhHc35c90', '3IY84n5aG3tMFJI',
       '6JM7n0RVYqtN1zw', '0GmwcJWWaptRb1Q', '9XIV7ZA7KxN14d8',
       '021VYSvq7rnzo4m', '3wu4E1bK38jKz8G', '7QHyroqODLZB42i',
       '02lAEZ1SHvLxX5Y', 'dpcVkGvoMlgxoea', 'bfLgiz3PCecGQUm',
       '5AVDqNqPEZGc7ZA', 'bDcyel3IbymV8ZE', '5gOTDFWyN2zacxo',
       '3qGZ0hOOaswjPRs', '3DXk3W7oL7jwkjI', '6mvuYdAleMG3wFM',
       '01WTwDYVJBMeihg', '81h2dFUxHLMEHCC', '6JRdYUkB2u7dLh4', nan],
      dtype=object)

In [61]:
final_df = df.merge(photo_mappings, on='photo')
new_cols = ['id', 'choiceNum', 'candNum', 'college', 'exp', 'job', 'photo', 'gender', 'ethnicity', 'filtered','preference', 'Y' ]
final_df = final_df[new_cols].drop(columns='photo')
final_df

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0
1,R_10Dc7KG5UNa5FTL,2,2,Boston University,6.0,Sales Representative,Male,White,True,2,1
2,R_10vgeskqNS70Nl2,1,1,Boston University,6.0,Sales Representative,Male,White,True,1,1
3,R_10vgeskqNS70Nl2,4,1,Stanford University,6.0,Consultant,Male,White,True,1,1
4,R_1C8EXyoBcrNhOeN,3,1,Virginia Tech,5.0,Consultant,Male,White,True,2,0
...,...,...,...,...,...,...,...,...,...,...,...
4065,R_xlyEl9UuW4Gb5xn,3,1,George Washington University,7.0,Consultant,Female,POC,False,1,1
4066,R_xyfhT26F7oOnIcN,4,2,Boston University,5.0,Data Analyst,Female,POC,False,1,0
4067,R_ysb31V3xcF8FkHv,5,2,Boston University,5.0,Data Analyst,Female,POC,False,1,0
4068,R_ZepKbi2sjYj7xzX,1,2,Virginia Tech,7.0,Sales Representative,Female,POC,False,2,1
4069,R_Zmz2US2dIggx0gp,1,1,Virginia Tech,6.0,Sales Representative,Female,POC,False,1,1

In [63]:
final_df = final_df.sort_values(['id', 'choiceNum', 'candNum'])
final_df

,id,choiceNum,candNum,college,exp,job,gender,ethnicity,filtered,preference,Y
0,R_0GkP9YSiNDMukb7,1,1,Boston University,5.0,Software Engineer,Male,White,True,2,0
182,R_0GkP9YSiNDMukb7,1,2,Stanford University,7.0,Sales Representative,Female,White,True,2,1
335,R_0GkP9YSiNDMukb7,2,1,Boston University,7.0,Sales Representative,Male,POC,False,1,1
503,R_0GkP9YSiNDMukb7,2,2,Virginia Tech,6.0,Sales Representative,Male,POC,True,1,0
658,R_0GkP9YSiNDMukb7,3,1,George Washington University,7.0,Software Engineer,Male,White,False,1,1
827,R_0GkP9YSiNDMukb7,3,2,"University of California, Berkeley",6.0,Sales Representative,Male,White,False,1,0
995,R_0GkP9YSiNDMukb7,4,1,Stanford University,6.0,Sales Representative,Male,POC,False,2,0
336,R_0GkP9YSiNDMukb7,4,2,University of San Diego,6.0,Sales Representative,Male,POC,False,2,1
1141,R_0GkP9YSiNDMukb7,5,1,George Washington University,5.0,Consultant,Female,White,False,2,0
183,R_0GkP9YSiNDMukb7,5,2,George Washington University,7.0,Consultant,Female,White,True,2,1
1317,R_10AVvGvm9BC40Sh,1,1,Boston University,6.0,Sales Representative,Male,White,True,1,1
1505,R_10AVvGvm9BC40Sh,1,2,Boston University,7.0,Data Analyst,Female,POC,True,1,0
1670,R_10AVvGvm9BC40Sh,2,1,Boston University,7.0,Data Analyst,Female,White,False,2,0
1875,R_10AVvGvm9BC40Sh,2,2,University of San Diego,7.0,Software Engineer,Male,POC,True,2,1
2042,R_10AVvGvm9BC40Sh,3,1,University of San Diego,5.0,Sales Representative,Female,White,True,1,1
337,R_10AVvGvm9BC40Sh,3,2,"University of California, Berkeley",5.0,Software Engineer,Male,POC,False,1,0
2214,R_10AVvGvm9BC40Sh,4,1,Boston University,7.0,Consultant,Male,POC,True,2,0
2215,R_10AVvGvm9BC40Sh,4,2,Stanford University,6.0,Consultant,Male,POC,True,2,1
1671,R_10AVvGvm9BC40Sh,5,1,George Washington University,7.0,Consultant,Female,White,False,1,1
2384,R_10AVvGvm9BC40Sh,5,2,Virginia Tech,7.0,Data Analyst,Male,POC,False,1,0

In [64]:
#final_df.to_csv('final_dataset.csv')